In [1]:
import pandas as pd 
import random
import math

In [2]:
df = pd.read_csv("tarassov_important_interactions.csv") 
df

     Protein_A Protein_B   Abd_A    Abd_B  Colony_Size
0         AAR2      LSM1    2.55  1066.00        23584
1         ABD1      TAF2   18.40     8.01        21605
2         ABD1      ECM4   18.40    21.90        21005
3         ABD1      RNR2   18.40   352.00        21044
4         ABF2      UBP6  640.00   126.00        21573
...        ...       ...     ...      ...          ...
8554      ZIP2      DBP5    1.60   156.00        22056
8555      ZPR1      TAF2  119.00     8.01        22383
8556      ZPR1      ECM4  119.00    21.90        21555
8557      ZPR1      RNR2  119.00   352.00        38017
8558      ZRT3      TPM2   20.70   405.00        20805

[8559 rows x 5 columns]

In [3]:
Ai_max,Ai_min,Aj_max,Aj_min=df['Abd_A'].max(),df['Abd_A'].min(),df['Abd_B'].max(),df['Abd_B'].min()
print(Ai_max,Ai_min,Aj_max,Aj_min)
# print(math.ceil(Ai_max),math.floor(Ai_min),math.ceil(Aj_max),math.floor(Aj_min))
Ai_max,Ai_min,Aj_max,Aj_min=math.ceil(Ai_max),math.floor(Ai_min),math.ceil(Aj_max),math.floor(Aj_min)
Ai_max,Ai_min,Aj_max,Aj_min

9310.0 0.0 3420.0 0.13

(9310, 0, 3420, 0)

In [4]:
df.sort_values(by=['Colony_Size'], inplace=True, ascending=False)
df=df[1:11]

In [5]:
# df
df.reset_index(drop=True,inplace=True)

In [6]:
df

  Protein_A Protein_B  Abd_A  Abd_B  Colony_Size
0   YNL190W      AGP1  835.0   10.6       214802
1      MET3      MET3   57.1   57.1       203046
2      SEC4      GDI1  234.0  172.0       194897
3     ERV29      AGP1   49.8   10.6       191611
4   YNL190W      GAP1  835.0   11.9       191457
5      VHS3      OST1   14.9   52.8       190626
6      VPH1     VMA13  149.0  207.0       182953
7      SRV2      SRV2  255.0  255.0       180483
8   YNL190W      OST1  835.0   52.8       179079
9      SHR3      GAP1   35.7   11.9       176711

In [7]:
df['Colony_Size'][0]

214802

In [8]:
Kd = []
for i in range(len(df)):
       Kd_rand = random.randint(1, 10**4)
       Kd.append(Kd_rand)

Kd

[5236, 8270, 519, 238, 876, 4765, 499, 4581, 1702, 1824]

In [9]:
Ai = []
for i in range(len(df)):
       Ai_rand = random.randint(Ai_min, Ai_max)
       Ai.append(Ai_rand)

print(Ai_min, Ai_max)
Ai

0 9310

[8328, 2036, 9060, 8574, 1594, 4745, 4664, 4392, 6400, 8024]

In [10]:
Aj = []
for i in range(len(df)):
       Aj_rand = random.randint(Aj_min, Aj_max)
       Aj.append(Aj_rand)
    
print(Aj_min, Aj_max)
Aj

0 3420

[2300, 924, 2663, 859, 1148, 981, 218, 2088, 927, 1292]

In [11]:
def fitness(Kda, Ai, Aj):
    Ki=0.00054
    a=0.1
    B=1.3
    MTX=440
    Kapp=1

    A_total=[]
    f_curr=[]
    f_exp=[]

    for i in range(len(df)):

        f_curr_c=(a*Kapp*Ki*Ai[i]*Aj[i])/((B*Ki*Kda[i])+(B*Kda[i]*MTX)+(Kapp*Ki*Ai[i]*Aj[i]))
        f_curr.append(f_curr_c)
    #     print(f_curr)


        A_total.append(min(Ai[i],Aj[i])+Ai[i])
    #     print(A_total,'\n')

        f_exp_c=(1/96)*math.log(df['Colony_Size'][i]/20)
    #     print(f_exp)
        f_exp.append(f_exp_c)
    
    return(A_total, f_exp, f_curr)
#     print(A_total,'\n')
#     print(f_exp,'\n')
#     print(f_curr,'\n')

In [12]:
Kd

[5236, 8270, 519, 238, 876, 4765, 499, 4581, 1702, 1824]

In [13]:
A_total, f_exp, f_curr=fitness(Kd, Ai, Aj)
A_total, f_exp, f_curr

([10628, 2960, 11723, 9433, 2742, 5726, 4882, 6480, 7327, 9316],
 [0.0966847883229841,
  0.09609849541442739,
  0.09567181478452308,
  0.09549469042281696,
  0.09548631505994098,
  0.09544100415289272,
  0.09501304473626923,
  0.09487145412437621,
  0.09479010473634193,
  0.09465144411688961],
 [0.00034416669208239695,
  2.14707975456089e-05,
  0.004204128641002304,
  0.002838513947573828,
  0.0001968192983997375,
  9.213808510583743e-05,
  0.00019198932746218882,
  0.00018862955954355342,
  0.00032799750045104227,
  0.0005337055714560966])

In [14]:
mu = 1
sigma = 1.7
B=1
  
ddg=random.gauss(mu, sigma)

Kd_new=[element * math.exp(B*ddg) for element in Kd]

In [15]:
A_total_new, f_exp_new, f_curr_new=fitness(Kd_new, Ai, Aj)
A_total_new, f_exp_new, f_curr_new

([10628, 2960, 11723, 9433, 2742, 5726, 4882, 6480, 7327, 9316],
 [0.0966847883229841,
  0.09609849541442739,
  0.09567181478452308,
  0.09549469042281696,
  0.09548631505994098,
  0.09544100415289272,
  0.09501304473626923,
  0.09487145412437621,
  0.09479010473634193,
  0.09465144411688961],
 [0.0002838676196653411,
  1.7699006088595832e-05,
  0.003491244290602957,
  0.002351509491533026,
  0.0001622939045456278,
  7.596154911967918e-05,
  0.00015830984728355688,
  0.00015553854383820625,
  0.00027052363047093885,
  0.0004403454332650369])

In [16]:
def cost(A_total, f_exp, f_curr):
    f_sub=0
    A_sub=0
    for i in range(len(df)):
        f_sub+=(f_curr[i]-f_exp[i])**2
        A_sub+=(A_total[i]-df['Abd_A'][i])


    cost=f_sub+(A_sub**2)
    return cost
#     print('Cost: ',cost)
#     print(f_sub)
#     print(A_sub**2)

In [17]:
C_old=cost(A_total, f_exp, f_curr)
C_old

4612650972.339373

In [18]:
C_new=cost(A_total_new, f_exp_new, f_curr_new)
C_new

4612650972.339657

In [19]:
dC=C_new-C_old
dC

0.0002841949462890625