In [1]:
import pandas as pd 
import random
import math

In [2]:
df = pd.read_csv("tarassov_important_interactions.csv") 
df

     Protein_A Protein_B   Abd_A    Abd_B  Colony_Size
0         AAR2      LSM1    2.55  1066.00        23584
1         ABD1      TAF2   18.40     8.01        21605
2         ABD1      ECM4   18.40    21.90        21005
3         ABD1      RNR2   18.40   352.00        21044
4         ABF2      UBP6  640.00   126.00        21573
...        ...       ...     ...      ...          ...
8554      ZIP2      DBP5    1.60   156.00        22056
8555      ZPR1      TAF2  119.00     8.01        22383
8556      ZPR1      ECM4  119.00    21.90        21555
8557      ZPR1      RNR2  119.00   352.00        38017
8558      ZRT3      TPM2   20.70   405.00        20805

[8559 rows x 5 columns]

In [3]:
Ai_max,Ai_min,Aj_max,Aj_min=df['Abd_A'].max(),df['Abd_A'].min(),df['Abd_B'].max(),df['Abd_B'].min()
print(Ai_max,Ai_min,Aj_max,Aj_min)
# print(math.ceil(Ai_max),math.floor(Ai_min),math.ceil(Aj_max),math.floor(Aj_min))
Ai_max,Ai_min,Aj_max,Aj_min=math.ceil(Ai_max),math.floor(Ai_min),math.ceil(Aj_max),math.floor(Aj_min)
Ai_max,Ai_min,Aj_max,Aj_min

9310.0 0.0 3420.0 0.13

(9310, 0, 3420, 0)

In [4]:
df.sort_values(by=['Colony_Size'], inplace=True, ascending=False)
df=df[1:11]

In [5]:
# df
df.reset_index(drop=True,inplace=True)

In [6]:
df

  Protein_A Protein_B  Abd_A  Abd_B  Colony_Size
0   YNL190W      AGP1  835.0   10.6       214802
1      MET3      MET3   57.1   57.1       203046
2      SEC4      GDI1  234.0  172.0       194897
3     ERV29      AGP1   49.8   10.6       191611
4   YNL190W      GAP1  835.0   11.9       191457
5      VHS3      OST1   14.9   52.8       190626
6      VPH1     VMA13  149.0  207.0       182953
7      SRV2      SRV2  255.0  255.0       180483
8   YNL190W      OST1  835.0   52.8       179079
9      SHR3      GAP1   35.7   11.9       176711

In [7]:
Kd = []
for i in range(len(df)):
       Kd_rand = random.randint(1, 10**4)
       Kd.append(Kd_rand)

Kd

[1895, 4906, 9146, 5870, 4386, 1223, 4822, 5922, 4066, 5399]

In [8]:
Ai = []
for i in range(len(df)):
       Ai_rand = random.randint(Ai_min, Ai_max)
       Ai.append(Ai_rand)

print(Ai_min, Ai_max)
Ai

0 9310

[7999, 6376, 9003, 4828, 325, 7006, 1312, 8584, 8051, 4948]

In [9]:
Aj = []
for i in range(len(df)):
       Aj_rand = random.randint(Aj_min, Aj_max)
       Aj.append(Aj_rand)
    
print(Aj_min, Aj_max)
Aj

0 3420

[421, 3019, 1411, 98, 983, 2680, 1354, 1461, 2017, 771]

In [10]:
abd = pd.read_csv("tarassov_protein_abundances.csv") 
abd

,Systematic Name,Standard Name,Qualifier a,Mean molecules per cell,Median molecules per cell,Coefficient of Variation,LU,PENG,KUL,LAW,...,TKA,BRE,DEN,MAZ,CHO,YOF,NEW,LEE,DAV,GHA
0,YMR191W,SPG5,Verified,3.359783e+00,3.359783,NaN,NaN,NaN,3.359783e+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,YJL093C,TOK1,Verified,3.804228e+00,3.804228,NaN,NaN,NaN,3.804228e+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,YER184C,TOG1,Verified,4.725730e+00,4.725730,NaN,NaN,NaN,4.725730e+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YGL063W,PUS2,Verified,5.497247e+00,5.497247,NaN,NaN,NaN,5.497247e+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YPL159C,PET20,Verified,6.922929e+00,6.922929,NaN,NaN,NaN,6.922929e+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5386,YCR012W,PGK1,Verified,1.048126e+06,535389.467835,118.212499,1898620.0,370624.0,5.612653e+05,3.696853e+06,...,632360.321606,762925.325484,3.869733e+06,NaN,535389.467835,NaN,467325.245209,1.013168e+06,2.518955e+06,314000.0
5387,YLR044C,PDC1,Verified,1.334957e+06,581219.289895,167.610282,1335789.0,284185.0,7.056524e+05,4.366751e+06,...,749870.982279,458461.578265,8.719740e+06,NaN,802711.880877,NaN,581219.289895,1.152585e+06,4.778059e+06,8970.0
5388,YHR174W,ENO2,Verified,1.392599e+06,736616.685356,169.701905,3055113.0,96517.0,9.298181e+05,9.756854e+05,...,698792.974393,786698.099060,9.928852e+06,NaN,711030.657259,762202.713453,867615.284478,1.926174e+06,3.651029e+06,2610.0
5389,YKL060C,FBA1,Verified,1.160837e+06,737008.613917,151.923907,2044661.0,276079.0,8.476516e+05,NaN,...,811477.040646,932942.583979,7.403471e+06,NaN,662540.187189,NaN,541286.587601,1.107529e+06,3.317388e+06,1020000.0
5390,YGR192C,TDH3,Verified,1.371127e+06,746357.568074,139.553969,2003699.0,248743.0,1.575311e+06,3.531903e+06,...,746357.568074,928368.697745,7.889502e+06,NaN,816996.457523,NaN,642009.529894,1.888509e+06,3.407017e+06,169000.0

In [11]:
def fitness(Kda, Ai, Aj):
    Ki=0.00054
    a=0.1
    B=1.3
    MTX=440
    Kapp=1

    A_total=[]
    f_curr=[]

    for i in range(len(df)):

        f_curr_c=(a*Kapp*Ki*Ai[i]*Aj[i])/((B*Ki*Kda[i])+(B*Kda[i]*MTX)+(Kapp*Ki*Ai[i]*Aj[i]))
        f_curr.append(f_curr_c)
    #     print(f_curr)


        A_total.append(min(Ai[i],Aj[i])+Ai[i])
    #     print(A_total,'\n')
    
    return(A_total,f_curr)
#     print(A_total,'\n')
#     print(f_exp,'\n')
#     print(f_curr,'\n')

In [12]:
def fitness_exp(df):
    f_exp=[]
    for i in range(len(df)):
        f_exp_c=(1/96)*math.log(df['Colony_Size'][i]/20)
        f_exp.append(f_exp_c)

    return f_exp

In [13]:
def Kd_n(Kd):
    
    ddg=random.gauss(mu, sigma)
    Kd_new=[element * math.exp(B*ddg) for element in Kd]
    return Kd_new

In [14]:
def cost(A_total, f_exp, f_curr):
    f_sub=0
    A_sub=0
    for i in range(len(df)):
        f_sub+=(f_curr[i]-f_exp[i])**2
        if(len(abd.loc[abd['Standard Name'].str.contains(df['Protein_A'][i], case=False)]['Mean molecules per cell'][:1])>0):      
            A_sub+=(A_total[i]-abd.loc[abd['Standard Name'].str.contains(df['Protein_A'][i], case=False)]['Mean molecules per cell'][:1].values[0])
        elif(len(abd.loc[abd['Systematic Name'].str.contains(df['Protein_A'][i], case=False)]['Mean molecules per cell'][:1])>0):      
            A_sub+=(A_total[i]-abd.loc[abd['Systematic Name'].str.contains(df['Protein_A'][i], case=False)]['Mean molecules per cell'][:1].values[0])
        else:
            print(df['Protein_A'][i])

    cost=f_sub+(A_sub**2)
    return cost
#     print('Cost: ',cost)
#     print(f_sub)
#     print(A_sub**2)

In [15]:
A_total, f_curr=fitness(Kd, Ai, Aj)
A_total, f_curr

([8420, 9395, 10414, 4926, 650, 9686, 2624, 10045, 10068, 5719],
 [0.00016748572028196546,
  0.00036904165003102685,
  0.00013095171066714907,
  7.608856399171719e-06,
  6.875995541406955e-06,
  0.0014286517089354834,
  3.476734062330715e-05,
  0.00019952683802681025,
  0.00037562212988856745,
  6.666199913731621e-05])

In [16]:
Kd

[1895, 4906, 9146, 5870, 4386, 1223, 4822, 5922, 4066, 5399]

In [17]:
t=0

mu = 1
sigma = 1.7
B=1
  
while(t<100):
    
    f_exp=fitness_exp(df)
    Kd_new=Kd_n(Kd)
    A_total_new, f_curr_new=fitness(Kd_new, Ai, Aj)
    C_old=cost(A_total, f_exp, f_curr)
    C_new=cost(A_total_new, f_exp, f_curr_new)
    dC=C_new-C_old
    
    if((random.random()<=math.exp(B*dC)) and dC<=0):
        print('1')
        Kd_new_temp=Kd_new
    else:
        print('2')
        Kd_new_temp=Kd
        Kd=Kd_new_temp
    
#     if dC<=math.exp(-3):
#         break
    
    t=t+1
    
print(Kd,'\n\n', Kd_new,'\n\n', Kd_new_temp,'\n\n',dC,'\n TIME:',t)

2
1
2
2
2
1
2
1
1
1
1
2
2
1
1
2
1
2
2
2
2
2
2
1
2
2
2
2
1
2
2
1
2
1
2
2
2
2
2
2
1
1
1
1
1
1
2
2
2
2
1
2
2
2
2
1
2
1
2
2
1
1
2
2
2
2
2
2
2
1
2
2
2
2
2
1
2
2
1
2
2
2
2
2
2
2
2
1
2
2
2
2
1
2
2
2
2
2
1
2
[1895, 4906, 9146, 5870, 4386, 1223, 4822, 5922, 4066, 5399]

 [26033.892166921607, 67399.61739890101, 125649.59248478366, 80643.24380993658, 60255.75252987766, 16801.820643876057, 66245.6084585203, 81357.63029683892, 55859.52799509407, 74172.55082280199]

 [1895, 4906, 9146, 5870, 4386, 1223, 4822, 5922, 4066, 5399]

 0.0004906654357910156
 TIME: 100