In [1]:
import pandas as pd 
import numpy as np
import random
import math
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib import animation
import statistics
from IPython.display import clear_output
import scipy
from scipy.stats import norm
from tqdm.notebook import tqdm_notebook

In [2]:
abd = pd.read_csv("abundances (1).csv") 
abd

      Unnamed: 0 Systematic Name Standard Name  Abundances uM
0              0         YMR191W          SPG5       0.000128
1              1         YJL093C          TOK1       0.000145
2              2         YER184C          TOG1       0.000181
3              3         YGL063W          PUS2       0.000210
4              4         YPL159C         PET20       0.000265
...          ...             ...           ...            ...
5386        5386         YCR012W          PGK1      40.056802
5387        5387         YLR044C          PDC1      51.018756
5388        5388         YHR174W          ENO2      53.221692
5389        5389         YKL060C          FBA1      44.364324
5390        5390         YGR192C          TDH3      52.401090

[5391 rows x 4 columns]

In [3]:
# abd.sort_values(by=['intensity'], inplace=True, ascending=False)
# abd=df[0:10]

In [4]:
# # df
# abd.reset_index(drop=True,inplace=True)

In [5]:
tar = pd.read_csv("tarassov (2).csv") 
tar.insert(2, 'a_abd', None)
tar.insert(5, 'b_abd', None)
tar

,MATa orf_name,MATa gene_name,a_abd,MATalpha orf_name,MATalpha_gene_name,b_abd,intensity,PPV%
0,YJR155W,AAD10,None,YCR042C,TAF2,None,21399,99.371069
1,YFL057C,AAD16,None,YHR080C,YHR080C,None,20048,98.666667
2,YJR108W,ABM1,None,YOR393W,ERR1,None,27637,99.315068
3,YJR108W,ABM1,None,YBR255C-A,YBR255C-A,None,53221,99.000000
4,YJR108W,ABM1,None,YBR296C-A,YBR296C-A,None,48548,99.000000
...,...,...,...,...,...,...,...,...
6277,YIR026C,YVH1,None,YHR146W,CRP1,None,125498,99.000000
6278,YIR026C,YVH1,None,YKL212W,SAC1,None,47003,99.000000
6279,YJL056C,ZAP1,None,YKR076W,ECM4,None,24213,99.350649
6280,YMR273C,ZDS1,None,YKR076W,ECM4,None,21283,99.315068
6281,YGR211W,ZPR1,None,YJL026W,RNR2,None,38017,99.000000

In [6]:
for index, row in tar.iterrows():
    if(abd['Systematic Name'].str.contains(row['MATa orf_name'], case=False).sum()>0):
        tar.loc[index, 'a_abd'] = abd.loc[abd['Systematic Name'].str.contains(row['MATa orf_name'], case=False)]['Abundances uM'][:1].values[0]
    elif(abd['Standard Name'].str.contains(row['MATa orf_name'], case=False).sum()>0):
        tar.loc[index, 'a_abd'] = abd.loc[abd['Standard Name'].str.contains(row['MATa orf_name'], case=False)]['Abundances uM'][:1].values[0]
    elif(abd['Systematic Name'].str.contains(row['MATa gene_name'], case=False).sum()>0):
        tar.loc[index, 'a_abd'] = abd.loc[abd['Systematic Name'].str.contains(row['MATa gene_name'], case=False)]['Abundances uM'][:1].values[0]
    elif(abd['Standard Name'].str.contains(row['MATa gene_name'], case=False).sum()>0):
        tar.loc[index, 'a_abd'] = abd.loc[abd['Standard Name'].str.contains(row['MATa gene_name'], case=False)]['Abundances uM'][:1].values[0]
    else:
        print('DID NOT MATCH',row['MATa orf_name'], row['MATa gene_name'])
        
#     print(row['MATa orf_name'], row['MATalpha orf_name'],row['a_abd'])

DID NOT MATCH YFL057C AAD16
DID NOT MATCH YNR002C ATO2
DID NOT MATCH YDL037C BSC1
DID NOT MATCH YNL269W BSC4
DID NOT MATCH YNL269W BSC4
DID NOT MATCH YGR109C CLB6
DID NOT MATCH YBL043W ECM13
DID NOT MATCH YLR246W ERF2
DID NOT MATCH YLR246W ERF2
DID NOT MATCH YLR246W ERF2
DID NOT MATCH YCR075C ERS1
DID NOT MATCH YCR075C ERS1
DID NOT MATCH YCR075C ERS1
DID NOT MATCH YCR075C ERS1
DID NOT MATCH YER060W-A FCY22
DID NOT MATCH YER060W-A FCY22
DID NOT MATCH YBR040W FIG1
DID NOT MATCH YOR381W FRE3
DID NOT MATCH YOR298W MUM3
DID NOT MATCH YLR273C PIG1
DID NOT MATCH YML047C PRM6
DID NOT MATCH YDL039C PRM7
DID NOT MATCH YBR033W YBR033W
DID NOT MATCH YKL037W YKL037W
DID NOT MATCH YKL037W YKL037W
DID NOT MATCH YLL016W YLL016W

In [7]:
for index, row in tar.iterrows():
    if(abd['Systematic Name'].str.contains(row['MATalpha orf_name'], case=False).sum()>0):
        tar.loc[index, 'b_abd'] = abd.loc[abd['Systematic Name'].str.contains(row['MATalpha orf_name'], case=False)]['Abundances uM'][:1].values[0]
    elif(abd['Standard Name'].str.contains(row['MATalpha orf_name'], case=False).sum()>0):
        tar.loc[index, 'b_abd'] = abd.loc[abd['Standard Name'].str.contains(row['MATalpha orf_name'], case=False)]['Abundances uM'][:1].values[0]
    elif(abd['Systematic Name'].str.contains(row['MATa orf_name'], case=False).sum()>0):
        tar.loc[index, 'b_abd'] = abd.loc[abd['Systematic Name'].str.contains(row['MATa orf_name'], case=False)]['Abundances uM'][:1].values[0]
    elif(abd['Standard Name'].str.contains(row['MATa orf_name'], case=False).sum()>0):
        tar.loc[index, 'b_abd'] = abd.loc[abd['Standard Name'].str.contains(row['MATa orf_name'], case=False)]['Abundances uM'][:1].values[0]
    else:
        print('DID NOT MATCH',row['MATalpha orf_name'],row['MATalpha_gene_name'])
        
#     print(row['MATa orf_name'], row['MATalpha orf_name'],row['a_abd'])

DID NOT MATCH YBR296C-A YBR296C-A

In [8]:
tar

,MATa orf_name,MATa gene_name,a_abd,MATalpha orf_name,MATalpha_gene_name,b_abd,intensity,PPV%
0,YJR155W,AAD10,0.16975,YCR042C,TAF2,0.070482,21399,99.371069
1,YFL057C,AAD16,None,YHR080C,YHR080C,0.031909,20048,98.666667
2,YJR108W,ABM1,0.047681,YOR393W,ERR1,0.076074,27637,99.315068
3,YJR108W,ABM1,0.047681,YBR255C-A,YBR255C-A,0.139513,53221,99.000000
4,YJR108W,ABM1,0.047681,YBR296C-A,YBR296C-A,0.047681,48548,99.000000
...,...,...,...,...,...,...,...,...
6277,YIR026C,YVH1,0.209777,YHR146W,CRP1,0.482526,125498,99.000000
6278,YIR026C,YVH1,0.209777,YKL212W,SAC1,0.477681,47003,99.000000
6279,YJL056C,ZAP1,0.051394,YKR076W,ECM4,0.145381,24213,99.350649
6280,YMR273C,ZDS1,0.048409,YKR076W,ECM4,0.145381,21283,99.315068
6281,YGR211W,ZPR1,0.487749,YJL026W,RNR2,1.957863,38017,99.000000

In [9]:
tar.sort_values(by=['intensity'], inplace=True, ascending=False)
df=tar[0:10]
df.reset_index(drop=True,inplace=True)
df

,MATa orf_name,MATa gene_name,a_abd,MATalpha orf_name,MATalpha_gene_name,b_abd,intensity,PPV%
0,YML086C,ALO1,0.537273,YML086C,ALO1,0.537273,220787,99.0
1,YNL190W,YNL190W,0.23103,YCL025C,AGP1,1.042684,214802,99.0
2,YJR010W,MET3,0.730392,YJR010W,MET3,0.730392,203046,99.0
3,YFL005W,SEC4,0.938091,YER136W,GDI1,0.640307,194897,99.0
4,YGR284C,ERV29,0.270923,YCL025C,AGP1,1.042684,191611,99.0
5,YNL190W,YNL190W,0.23103,YKR039W,GAP1,0.736054,191457,99.0
6,YOR054C,VHS3,0.078706,YJL002C,OST1,0.398253,190626,99.0
7,YOR270C,VPH1,1.06263,YPR036W,VMA13,0.275942,182953,99.0
8,YNL138W,SRV2,0.130933,YNL138W,SRV2,0.130933,180483,99.0
9,YNL190W,YNL190W,0.23103,YJL002C,OST1,0.398253,179079,99.0

In [10]:
Ai_max,Ai_min,Aj_max,Aj_min=tar['a_abd'].max(),tar['a_abd'].min(),tar['b_abd'].max(),tar['b_abd'].min()
# Ai_max,Ai_min,Aj_max,Aj_min=math.ceil(Ai_max),math.floor(Ai_min),math.ceil(Aj_max),math.floor(Aj_min)
Ai_max,Ai_min,Aj_max,Aj_min

(7.654775115349385, 0.0001284026399908, 7.654775115349385, 0.0144076924543301)

In [11]:
Kd = []
for i in range(len(df)):
       Kd_rand = random.uniform(1, 10**4)
       Kd.append(Kd_rand)

Kd

[1130.333043335986,
 4507.789506785593,
 2677.7803553802114,
 4991.471367096443,
 2773.680288300449,
 5841.328336059973,
 5882.831494670534,
 2263.8663794740905,
 2502.805550812208,
 6833.300627454543]

In [12]:
mu_A, sigma_A = 3.7967176508404124, 1.5635593244880654 # mean and standard deviation
mu_B, sigma_B = 4.069167482029483, 1.5642948498523275 # mean and standard deviation

In [13]:
Ai = []
for i in range(len(df)):
       Ai_rand = random.uniform(Ai_min, Ai_max)
#        Ai_rand = np.random.lognormal(mu_A, sigma_A)
       Ai.append(Ai_rand)

print(Ai_min, Ai_max)
Ai

0.0001284026399908 7.654775115349385

[7.609078572538563,
 1.801805760073152,
 1.6529561062046167,
 2.5849299245028696,
 2.994924289968294,
 6.061234480026162,
 6.8880245357299446,
 4.757814135887745,
 6.628339221362688,
 5.509397349849415]

In [14]:
Aj = []
for i in range(len(df)):
       Aj_rand = random.uniform(Aj_min, Aj_max)
#        Aj_rand = np.random.lognormal(mu_B, sigma_B)
       Aj.append(Aj_rand)
    
print(Aj_min, Aj_max)
Aj

0.0144076924543301 7.654775115349385

[0.5232995064610761,
 7.1869718540147245,
 2.6535122241674336,
 3.8642422193961172,
 2.574624850124497,
 4.488755891120013,
 6.362861432485298,
 3.8222318485113114,
 1.199224071254479,
 1.9916836501306299]

In [15]:
def fitness(Kda, Ai, Aj):
    Ki=0.00054
    a=0.1
    B=1.3
    MTX=440
    Kapp=1

    A=[]
    f_c=[]

    for i in range(len(df)):

        f_cur=(a*Kapp*Ki*Ai[i]*Aj[i])/((B*Ki*Kda[i])+(B*Kda[i]*MTX)+(Kapp*Ki*Ai[i]*Aj[i]))
        f_c.append(f_cur)
#         print(f_c)


        A.append(min(Ai[i],Aj[i])+Ai[i])
#         print(A,'\n')
    
    return A,f_c
#     print(A_total,'\n')
#     print(f_exp,'\n')
#     print(f_curr,'\n')

In [16]:
def fitness_exp(df):
    f_exp=[]
    for i in range(len(df)):
        f_exp_c=(1/345600)*math.log(df['intensity'][i]/20)
        f_exp.append(f_exp_c)

    return f_exp

In [17]:
def Kd_n(Kd):
    
    ddg=random.gauss(mu, sigma)
    Kd_new=[element * math.exp(B*ddg) for element in Kd]
    return Kd_new

In [25]:
abd

      Unnamed: 0 Systematic Name Standard Name  Abundances uM
0              0         YMR191W          SPG5       0.000128
1              1         YJL093C          TOK1       0.000145
2              2         YER184C          TOG1       0.000181
3              3         YGL063W          PUS2       0.000210
4              4         YPL159C         PET20       0.000265
...          ...             ...           ...            ...
5386        5386         YCR012W          PGK1      40.056802
5387        5387         YLR044C          PDC1      51.018756
5388        5388         YHR174W          ENO2      53.221692
5389        5389         YKL060C          FBA1      44.364324
5390        5390         YGR192C          TDH3      52.401090

[5391 rows x 4 columns]

In [26]:
df

,MATa orf_name,MATa gene_name,a_abd,MATalpha orf_name,MATalpha_gene_name,b_abd,intensity,PPV%
0,YML086C,ALO1,0.537273,YML086C,ALO1,0.537273,220787,99.0
1,YNL190W,YNL190W,0.23103,YCL025C,AGP1,1.042684,214802,99.0
2,YJR010W,MET3,0.730392,YJR010W,MET3,0.730392,203046,99.0
3,YFL005W,SEC4,0.938091,YER136W,GDI1,0.640307,194897,99.0
4,YGR284C,ERV29,0.270923,YCL025C,AGP1,1.042684,191611,99.0
5,YNL190W,YNL190W,0.23103,YKR039W,GAP1,0.736054,191457,99.0
6,YOR054C,VHS3,0.078706,YJL002C,OST1,0.398253,190626,99.0
7,YOR270C,VPH1,1.06263,YPR036W,VMA13,0.275942,182953,99.0
8,YNL138W,SRV2,0.130933,YNL138W,SRV2,0.130933,180483,99.0
9,YNL190W,YNL190W,0.23103,YJL002C,OST1,0.398253,179079,99.0

In [28]:
f_curr

[3.3256241618369354e-10,
 2.7119862518372326e-10,
 1.5409076218448092e-10,
 1.8892164931284461e-10,
 2.6206152420795584e-10,
 4.397163872280299e-10,
 7.033280481549564e-10,
 7.583521181119568e-10,
 2.998300456375007e-10,
 1.5159718035674914e-10]

In [18]:
def cost(A_total, f_exp, f_curr):
    f_sub=0
    A_sub=0
    for i in range(len(df)):
        f_sub+=(f_curr[i]-f_exp[i])**2
        if(len(abd.loc[abd['Standard Name'].str.contains(df['Protein_A'][i], case=False)]['Mean molecules per cell'][:1])>0):      
            A_sub+=(A_total[i]-abd.loc[abd['Standard Name'].str.contains(df['Protein_A'][i], case=False)]['Mean molecules per cell'][:1].values[0])
        elif(len(abd.loc[abd['Systematic Name'].str.contains(df['Protein_A'][i], case=False)]['Mean molecules per cell'][:1])>0):      
            A_sub+=(A_total[i]-abd.loc[abd['Systematic Name'].str.contains(df['Protein_A'][i], case=False)]['Mean molecules per cell'][:1].values[0])
        else:
            print(df['Protein_A'][i])
    
#     print(f_sub,A_sub)
    cost=f_sub+(A_sub**2)
    return cost
#     print('Cost: ',cost)
#     print(f_sub)
#     print(A_sub**2)

In [19]:
# mu = 1
# sigma = 1.7
# B=-0.01

# f_exp=fitness_exp(df)
# Kd_new=Kd_n(Kd)
# A_total, f_curr=fitness(Kd, Ai, Aj)
# A_total_new, f_curr_new=fitness(Kd_new, Ai, Aj)
# C_old=cost(A_total, f_exp, f_curr)
# print('\n\n')
# C_new=cost(A_total_new, f_exp, f_curr_new)
# print(Kd,'\n\n',Kd_new,'\n\n',f_curr,'\n\n',f_curr_new,'\n\n',C_old,'\n\n',C_new)

In [20]:
A_total, f_theo=fitness(Kd, Ai, Aj)
A_total, f_theo

([8.132378078999638,
  3.603611520146304,
  3.3059122124092335,
  5.169859849005739,
  5.569549140092791,
  10.549990371146174,
  13.250885968215243,
  8.580045984399057,
  7.8275632926171665,
  7.501080999980045],
 [3.3256241618369354e-10,
  2.7119862518372326e-10,
  1.5463388244638292e-10,
  1.8892164931284461e-10,
  2.624463889612458e-10,
  4.397163872280299e-10,
  7.033280481549564e-10,
  7.583521181119568e-10,
  2.998300456375007e-10,
  1.5159718035674914e-10])

In [21]:
df

,MATa orf_name,MATa gene_name,a_abd,MATalpha orf_name,MATalpha_gene_name,b_abd,intensity,PPV%
0,YML086C,ALO1,0.537273,YML086C,ALO1,0.537273,220787,99.0
1,YNL190W,YNL190W,0.23103,YCL025C,AGP1,1.042684,214802,99.0
2,YJR010W,MET3,0.730392,YJR010W,MET3,0.730392,203046,99.0
3,YFL005W,SEC4,0.938091,YER136W,GDI1,0.640307,194897,99.0
4,YGR284C,ERV29,0.270923,YCL025C,AGP1,1.042684,191611,99.0
5,YNL190W,YNL190W,0.23103,YKR039W,GAP1,0.736054,191457,99.0
6,YOR054C,VHS3,0.078706,YJL002C,OST1,0.398253,190626,99.0
7,YOR270C,VPH1,1.06263,YPR036W,VMA13,0.275942,182953,99.0
8,YNL138W,SRV2,0.130933,YNL138W,SRV2,0.130933,180483,99.0
9,YNL190W,YNL190W,0.23103,YJL002C,OST1,0.398253,179079,99.0

In [22]:
f_exp=fitness_exp(df)
f_exp

[2.693640463335123e-05,
 2.685688564527336e-05,
 2.6694026504007606e-05,
 2.6575504106811967e-05,
 2.6526302895226932e-05,
 2.652397640553916e-05,
 2.6511390042470202e-05,
 2.6392512426741455e-05,
 2.6353181701215614e-05,
 2.633058464898387e-05]

In [23]:
Kd

[1130.333043335986,
 4507.789506785593,
 2677.7803553802114,
 4991.471367096443,
 2773.680288300449,
 5841.328336059973,
 5882.831494670534,
 2263.8663794740905,
 2502.805550812208,
 6833.300627454543]

In [24]:
t=0

mu = 1
sigma = 1.7
B=0.001
Ai_max,Ai_min=max(Ai),min(Ai)
Aj_max,Aj_min=max(Aj),min(Aj)

dC_array=[]
dC_sq_array=[]
C_new_array=[]
C_old_array=[]
Ai_track=[]
Aj_track=[]
Kd_track=[]
test=[]
C_new=0



# while(t<7000):
for t in tqdm_notebook(range(7000),desc='Progress'):
    
    f_exp=fitness_exp(df)
    Kd_new=Kd_n(Kd)
    
    Ai_len=len(Ai)
    Ai_pos=random.randint(0,Ai_len-1)
    E_a=random.gauss(0, 0.001)
    temp_Ai=Ai[Ai_pos]*(10**E_a)
    Ai_tmp=Ai
    if(temp_Ai<Ai_max and temp_Ai>Ai_min):
        Ai_tmp[Ai_pos]=temp_Ai

    Aj_len=len(Aj)
    Aj_pos=random.randint(0,Aj_len-1)
    E_b=random.gauss(0, 0.001)
    temp_Aj=Aj[Aj_pos]*(10**E_b)
    Aj_tmp=Aj
    if(temp_Aj<Aj_max and temp_Aj>Aj_min):
        Aj_tmp[Aj_pos]=temp_Aj
        
        
    A_total, f_curr=fitness(Kd, Ai, Aj)#comment this
    A_total_new, f_curr_new=fitness(Kd_new, Ai_tmp, Aj_tmp)
    C_old=cost(A_total, f_exp, f_curr)
    C_new=cost(A_total_new, f_exp, f_curr_new)
    dC=C_new-C_old
    
    C_old_array.append(C_old)
    C_new_array.append(C_new)
    dC_array.append(dC)
    dC_sq_array.append(dC**2)
    Ai_track.append(Ai.copy())
    Aj_track.append(Aj.copy())
    Kd_track.append(Kd)

#     print('**',Ai_track,'\n\n')
#     print(t,dC)
    
#     print(Kd,'\n\n',Kd_new,'\n\n',A_total,'\n\n',A_total_new,'\n\n',C_new,C_old,dC)
#     test.append(np.exp(B*dC))
    if((random.random()<=np.exp(-B*dC))): ##np. or math.
#         print('1')
#         C_new=cost(A_total_new, f_exp, f_curr_new)
        Kd_new_temp=Kd_new
        Ai=Ai_tmp
        Aj=Aj_tmp

#         print(t,Ai,'\n',Aj,'\n\n')

#         Ai_len=len(Ai)
#         Ai_pos=random.randint(0,Ai_len-1)
#         E_a=random.gauss(0, 0.0001)
#         temp_Ai=Ai[Ai_pos]*(10**E_a)
#         if(temp_Ai<Ai_max and temp_Ai>Ai_min):
#             Ai[Ai_pos]=temp_Ai
                
#         Aj_len=len(Aj)
#         Aj_pos=random.randint(0,Aj_len-1)
#         E_b=random.gauss(0, 0.0001)
#         temp_Aj=Aj[Aj_pos]*(10**E_b)
#         if(temp_Aj<Aj_max and temp_Aj>Aj_min):
#             Aj[Aj_pos]=temp_Aj

#         print(Ai_pos,Aj_pos)
#         print(Ai,'\n',temp_Ai,'\n',Aj,'\n',temp_Aj,'\n\n')

    else:
#         print('2')
        Kd_new_temp=Kd
        Ai_tmp=Ai
        Aj_tmp=Aj
#         Ai=Ai_tmp
#         Aj=Aj_tmp
    
#         Ai_max,Ai_min=max(Ai),min(Ai)
#         E_a=random.gauss(0, 0.0001)
#         Ai=[(element*(10**E_a) if (element*(10**E_a)>Ai_min and element*(10**E_a)<Ai_max) else element) for element in Ai]
        
#         Aj_max,Aj_min=max(Aj),min(Aj)
#         E_b=random.gauss(0, 0.0001)
#         Aj=[(element*(10**E_b) if (element*(10**E_b)>Aj_min and element*(10**E_b)<Aj_max) else element) for element in Aj]

    Kd=Kd_new_temp
    t=t+1
#     print(t,'out',Ai,'\n',Aj,'\n\n\n')

    
#     count=0
#     x=[]
#     y=C_new_array

#     for a in range(len(y)):
#         x.append(a)

#     plt.plot(x,y)
#     plt.show()
#     clear_output(wait=False)

#     print(t,B,dC)
#     if dC<=math.exp(-3):
#         break
    
# print(Kd,'\n\n', Kd_new,'\n\n', Kd_new_temp,'\n\n',dC,'\n TIME:',t)

count=0
x=[]
y=C_new_array

for a in range(len(y)):
    x.append(a)
    
plt.plot(x,y)
plt.show()

Progress:   0%|          | 0/7000 [00:00<?, ?it/s]

KeyError: 'Protein_A'

In [ ]:
count=0
x=[]
y=C_old_array

for a in range(len(y)):
    x.append(a)
    
plt.plot(x,y)
plt.show()

In [ ]:
count=0
x=[]
y=dC_array

for a in range(len(y)):
    x.append(a)
    
plt.plot(x,y)
plt.show()

In [ ]:
count=0
x=[]
y=dC_sq_array

for a in range(len(y)):
    x.append(a)
    
plt.plot(x,y)
plt.show()

In [ ]:
rng=np.arange(0,len(Ai_track))
plt.plot(Ai_track,rng)

In [ ]:
# t,Ai_track

In [ ]:
rng=np.arange(0,len(Aj_track))
plt.plot(Aj_track,rng)

In [ ]:
# Aj_track

In [ ]:
rng=np.arange(0,len(Kd_track))
plt.plot(Kd_track,rng)

In [ ]:
Kd